 
 ul {
    list-style-type: none;
    text-align: center;
     
  }

  li {
      margin-left: 15px;
      margin: 10px  20px;
      display: inline;  
  }

.tophead{
    display: flex;
    align-items: center;
  }
  a {
      text-decoration: none;
      color: black;
  }
   .none{
   margin-left:-65px;
   }

  
  