 
 ul {
    list-style-type: none;
   text-align: center;
    
    
    
     
  }

  li {

    margin: 15px  20px;
    display: inline-block;  
     
  }



  li :hover{
  
    text-decoration: underline;
    color: rgb(13, 179, 179);
    }
    
.tophead{
    display: flex;
    align-items: center;
    s
    
    
  }
  a {
      text-decoration: none;
      color: black;
  }
   .none{
     display: flex;
   margin-left:-60px;
   }


  .kid {
    border: 2px solid rgb(134, 134, 134);
    margin: 10px;
    padding: 10px;
    
  }
  .kid img {
    height: 140 px ;
    width: 180px; 
  }
  .parent{
    display: flex;
    padding: 0px; 
    justify-content: space-around;
    flex-wrap: wrap;

 }
  .ba {
    color: rgb(0, 0, 0);
    
  }

  .bb {
    color:gray;
    margin:0%;
      }

  .bc{
    color:black;
    margin:0%;
    

  }
 
  .bd {
    color: rgb(90, 168, 0);
    margin:0%;
    

  }
  @media (max-width: 600px) {
    .tophead {

      flex-direction: column;
      
    }
    .none{
      margin: 0;
      padding: 0;
    }
    

   
  }