 
 ul {
    list-style-type: none;
    text-align: center;
    
     
  }

  li {
      margin-left: 15px;
      margin: 10px  20px;
      display: inline;  
  }



  li :hover{
  
    text-decoration: underline;
    }
    
.tophead{
    display: flex;
    align-items: center;
  }
  a {
      text-decoration: none;
      color: black;
  }
   .none{
   margin-left:-60px;
   }

  

  .kid {
    border: 2px solid rgb(134, 134, 134);
    margin: 10px;
    padding: 10px;
    
  }
  .kid img {
    height: 140 px ;
    width: 180px; 
  }
  .parent{
    display: flex;
    padding: 0px; 
    justify-content: space-around
 }
  .ba {
    color: rgb(0, 0, 0);
    
  }

  .bb {
    color:gray;
    margin:0%;
      }

  .bc{
    color:black;
    margin:0%;
    

  }
 
  .bd {
    color: rgb(90, 168, 0);
    margin:0%;
    

  }
  
  